<header class="top-navbar">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="col-md-4 col-2">
        <% if user_signed_in? %>
          <div class="btn-group">
            <%= link_to "#", class: "dropdown-toggle dropdown-toggle-split", data: { toggle: "dropdown"}, aria: { haspopup: false, expanded: false } do %>
              <%= image_tag current_user.image, class: "top-navbar__avatar" %>
            <% end %>
            <div class="dropdown-menu">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: {turbolinks: false}, class: "dropdown-item" %>
              <%= link_to 'アカウント削除', "#", data: {turbolinks: false, toggle: "modal", target: "#destroyUserModal"}, class: "dropdown-item" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-8 text-center">
        <%= image_tag "service_title.png", class: "top-navbar__service-image" %>
      </div>
      <div class="col-md-4 col-2 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarNav">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "新着の評定", check_book_path(current_user.book), data: {turbolinks: false}, class: "nav-link pl-0" %>
              </li>
              <li class="nav-item">
                <%= link_to "友達の通信簿", commented_books_path, data: {turbolinks: false}, class: "nav-link pl-0" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Twitterでログイン", root_path, data: {turbolinks: false}, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<% if user_signed_in? %>
  <%= render partial: "shared/destroy_user_modal" %>
<% end %>