<div class="container sp-cancel-container-padding">
  <section>
    <div class="text-center col-12">
      <h4 class="font-weight-bold mb-4">${name}の通信簿をつけよう！</h4>
    </div>
    <div class="review-bg-good pt-2">
      <span class="font-weight-bold col-12"><i class="far fa-smile-beam fa-lg mr-2"></i>よくできました</span>
      <form>
        <div class="form-row mt-2">
          <div class="form-group col-md-11 col-10 pl-3">
            <input type="text" class="form-control" id="inputGoodPoint" placeholder="おしゃれなカフェいっぱい知ってる！">
          </div>
          <div class="form-group col-md-1 col-2 review-send-parent">
            <button class="btn btn-sm btn-outline-info btn-round">送信</button>
          </div>
        </div>
      </form>
    </div>
    <div class="review-bg-bad pt-2">
      <span class="font-weight-bold col-12"><i class="far fa-sad-cry fa-lg mr-2"></i>がんばりましょう</span>
      <form>
        <div class="form-row mt-2">
          <div class="form-group col-md-11 col-10 pl-3 mb-1">
            <input type="text" class="form-control" id="inputBadPoint" placeholder="すぐ遅刻する！モニコしようか？">
          </div>
          <div class="form-group col-md-1 col-2 mb-1 review-send-parent">
            <button class="btn btn-sm btn-outline-info btn-round">送信</button>
          </div>
        </div>
      </form>
      <div class="col-12 text-right mb-1">
        <small>親御さんに見られて怒られちゃうとかわいそうなので、お手柔らかに...！</small>
      </div>
    </div>
    <div class="col-12 text-right mb-4">
      <small>※送信した評定は、本人の承認後に反映されます。</small>
    </div>
  </section>
  <section>
    <p class="text-light bg-section-menu font-weight-bold pt-2 pb-2 mb-4 col-12">${name}さんの通信簿</p>
    <div class="col-12 text-center">
      <%# TODO sharedを使う %>
      <div class="card col-md-6 offset-md-3 mb-3 col-12 bg-blackboard" data-background="color" data-color="brown" data-radius="none">
        <div class="card-body">
          <div class="author pull-left">
            <%= image_tag "http://pbs.twimg.com/profile_images/949657521425334273/Gict9ijg_normal.jpg", class: "avatar img-raised align-middle" %>
            <span class="align-middle font-weight-bold">だーらの通信簿</span>
          </div>
          <span class="pull-right">
            <%= link_to "編集", "#", class: "btn btn-sm btn-outline-warning btn-round"%>
          </span>
          <div class="clearfix"></div>
          <p class="card-description">
            TODO：localで受け取ったreviewsを整形して、動的にきれいに生成しよう！<br> ◯イケメン ◯かっこいい！ ◯頑張ってる！ ◯イケメン ◯かっこいい！ ◯頑張ってる！ ◯イケメン ◯かっこいい！ ◯頑張ってる！ ☓だめだめ ☓こまるよーまじで ☓朝寝坊しすぎ！ ☓だめだめ ☓こまるよーまじで ☓朝寝坊しすぎ！
          </p>
        </div>
      </div>
      <%= link_to "自分の通信簿を作る！", "#", class: "btn btn-info btn-round btn-lg shadow-sm mt-2 mb-4" %>
    </div>
  </section>
  <section>
    <p class="text-light bg-section-menu font-weight-bold pt-2 pb-2 col-12">友達の通信簿</p>
    <%# TODO 通信簿を動的にする %>
    <%= link_to "#" do %>
      <%= image_tag "book_sample.jpg", width: "100%", class: "col-md-6 offset-md-3 col-12"%>
    <% end %>
    <hr>
    <%= link_to "#" do %>
      <%= image_tag "book_sample.jpg", width: "100%", class: "col-md-6 offset-md-3 col-12"%>
    <% end %>
    <div class="text-center">
      <%= link_to "友達の通信簿を覗く", "#", class: "btn btn-info btn-round mt-3 mb-4" %>
    </div>
  </section>
</div>