<% if books.present? %>
  <div class="row">
    <div class="col-12">
      <% books.each do |book| %>
        <%= link_to book_path(book) do %>
          <div class="book-thumbnail mb-4">
            <%= image_tag "book_with_review.png", class: "col-md-6 offset-md-3 w-100" %>
            <%= image_tag book.user.image, class: "book-thumbnail__avatar" %>
            <span class="book-thumbnail__title"><%= book.user.name %>の通信簿</span>
            <% if book.checked_review(0) %>
              <span class="book-thumbnail__text book-thumbnail__text--first">
                <i class="<%= review_type_symbol(book.checked_review(0)) %>"></i><%= book.checked_review(0).content %>
              </span>
            <% else %>
              <span class="book-thumbnail__text book-thumbnail__text--first">
                まだ評価は届いていないようです。<br>一番乗りで評価を送ろう！
              </span>
            <% end %>
            <% if book.checked_review(1) %>
              <span class="book-thumbnail__text book-thumbnail__text--second">
                <i class="<%= review_type_symbol(book.checked_review(1)) %>"></i><%= book.checked_review(1).content %>
              </span>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if %w[reviewed_books following_books].any? { |name| current_page?(send("#{name}_path")) } %>
        <div class="mt-3">
          <%= paginate books, window: 1 %>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="text-center">
    <h2 class="page-heading__title">表示できる通信簿はありません。</h2>
  </div>
<% end %>
