<div class="review-form sp-full-width">
  <div class="review-form__container">
    <p class="review-form__label review-form__label--good pt-3">
      <i class="far fa-smile-beam fa-lg mr-2"></i>よくできました
    </p>
    <%= form_for [book, review] do |f| %>
      <div class="form-row">
        <div class="form-group col-md-11 col-10 pl-3">
          <%= f.text_field :content, type: "text", class: "form-control no-input-zoom", placeholder: "おしゃれなカフェいっぱい知ってる！" %>
          <input type="text" name="dummy" class="d-none"> <!-- enterキーで送信されないようにするため http://www.koikikukan.com/archives/2012/01/20-015555.php -->
          <%= f.hidden_field :review_type, value: "good" %>
        </div>
        <div class="form-group review-send col-md-1 col-2">
          <%= f.button type: "button", onclick: "submit()", class: "review-send__button btn btn-sm btn-link text-info" do %>
            <i class="material-icons align-middle md-30">send</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="review-form sp-full-width">
  <div class="review-form__container">
    <p class="review-form__label review-form__label--bad">
      <i class="far fa-sad-cry fa-lg mr-2"></i>ココがいまひとつ！
    </p>
    <%= form_for [book, review] do |f| %>
      <div class="form-row">
        <div class="form-group col-md-11 col-10 pl-3 mb-1">
          <%= f.text_field :content, type: "text", class: "form-control no-input-zoom", placeholder: "すぐ遅刻する！モニコしようか？" %>
          <input type="text" name="dummy" class="d-none"> <!-- enterキーで送信されないようにするため http://www.koikikukan.com/archives/2012/01/20-015555.php -->
          <%= f.hidden_field :review_type, value: "bad" %>
        </div>
        <div class="form-group review-send col-md-1 col-2 mb-1">
          <%= f.button type: "button", onclick: "submit()", class: "review-send__button btn btn-sm btn-link text-info" do %>
            <i class="material-icons align-middle md-30">send</i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-right">
    <small>
      送信した評価は、本人の承認後に公開されます。
    </small>
  </div>
</div>