<section class="page-heading mb-4">
  <h1 class="page-heading__title">
    <%= @book.user.name %>さんへの新着の評定
  </h1>
</section>
<section class="page-section mb-4">
  <div class="mb-3">
    <p class="page-section__text">
      承認した評定のみが公開されます。
    </p>
  </div>

  <% if @unchecked_reviews.present? %>
    <% @unchecked_reviews.each do |review| %>
      <div class="card no-transition">
        <div class="container">
          <div class="row">
            <div class="card-body col-md-10 col-9">
              <%= review.content %>
            </div>
            <div class="col-md-1 col-2 pl-0 pr-0 align-middle__parent">
              <%= button_tag "承認", class: "btn btn-sm btn-info btn-round align-middle__child",
                  data: {toggle: "modal", target: "#afterApproveModal", review_type: review_type_symbol(review), review_content: review.content, tweet_url: book_review_url(@book, review), review_id: review.id, approve_path: book_review_path(@book, review)} %>
            </div>
            <div class="col-md-1 col-1 pl-0 pr-0 align-middle__parent">
              <%= link_to book_review_path(@book, review), class: "btn btn-default btn-sm btn-link pl-0 align-middle__child", method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3 class="text-center">新着評価はありません</h3>
  <% end %>
</section>

<!-- BEGIN:Modal -->
<div class="modal fade" id="afterApproveModal" tabindex="-1" role="dialog" aria-labelledby="afterApproveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title modal__title" id="deleteConfirmationModalLabel">コメントしよう！</h2>
      </div>
      <div class="modal-body pr-3 pl-3">
        <p class="review-content mb-2"></p>
        <%= form_for @reply do |f| %>
          <div class="form-group">
            <%= f.text_area :content, class: "form-control no-input-zoom mb-2", rows:"5", id: "reply-textarea" %>
            <p id="textlength" class="text-right">残り文字数</p>
            <%= f.hidden_field :review_id, class: "hidden-review-id" %>
            <%= f.submit "コメントをツイートして承認", class: "btn btn-twitter btn-sm btn-block mb-3", id: "reply-submit" %>
          </div>
        <% end %>
        <%= link_to "コメントせず承認", "#", class: "btn btn-default btn-sm btn-block mb-3 btn-review-approve", method: :put %>
        <button type="button" class="btn btn-default btn-link btn-block" data-dismiss="modal">戻る</button>
      </div>
    </div>
  </div>
</div>
<!-- END:Modal -->
