<section class="page-heading mb-4">
  <h1 class="page-heading__title">
    <%= @book.user.name %>さんへの新着の評定
  </h1>
</section>
<section class="page-section mb-4">
  <div class="mb-3">
    <p class="page-section__text">
      承認した評定のみが公開されます。
    </p>
  </div>
  <% if @unchecked_reviews.present? %>
    <% @unchecked_reviews.each do |review| %>
      <div class="card no-transition">
        <div class="container">
          <div class="row">
            <div class="card-body col-md-10 col-9">
              <i class="<%= review_type_symbol(review) %> mr-2"></i><%= review.content %>
            </div>
            <div class="col-md-1 col-2 pl-0 pr-0 d-flex-align-middle">
              <%= button_tag "承認", class: "btn btn-sm btn-service btn-round align-middle__child modal-show",
                  data: {toggle: "modal", target: "#afterApproveModal#{review.id}", review_id: "#{review.id}" } %>
            </div>
            <div class="col-md-1 col-1 pl-0 pr-0 d-flex-align-middle">
              <%= link_to book_review_path(@book, review), class: "btn btn-default btn-sm btn-link pl-0 align-middle__child", method: :delete do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <%= render partial: "review_approve_modal", locals: { book: @book, review: review, reply: @reply } %>

    <% end %>
  <% else %>
    <h3 class="text-center">新着評価はありません</h3>
  <% end %>
</section>
