<% set_meta_tags books_show_meta_tags %>

<% if user_signed_in? && @user.id == current_user.id %>
  <section class="page-heading mb-4">
    <h1 class="page-heading__title mb-4">
      多くの人にシェアして<br>評定を書いてもらおう！
    </h1>
    <%= link_to "評定を募集する！", books_show_twitter_share_url(@user), class: "btn btn-service btn-round btn-lg shadow-sm", target: '_blank' %>
  </section>
<% else %>
  <section class="mb-4">
    <div class="page-heading mb-4">
      <h1 class="page-heading__title">
        <%= image_tag @user.image, class: "page-heading__avatar" %>
        <%= @user.name %>の通信簿をつけよう！
      </h1>
    </div>
    <%= render partial: "books/review_form", locals: { book: @book, review: @review } %>
  </section>
<% end %>

<section class="page-section mb-4">
  <p class="page-section__title sp-full-width mb-4">
    <%= @user.name %>さんの通信簿
  </p>
  <div class="text-center">
    <% if user_signed_in? && @user.id == current_user.id %>
      <p class="mb-2">
        結果をシェアして、もっと記入してもらおう！
      </p>
    <% end %>
    <%= render partial: "books/book_card", locals: { user: @user, book: @book, reviews: @reviews } %>
    <% if !user_signed_in? %>
      <p class="page-section__subtitle">
        ログインして、自分の通信簿を作ってみよう！
      </p>
      <%= link_to "Twitterログイン", omniauth_authorize_path(:user, :twitter), class: "btn btn-twitter btn-round shadow-sm mt-3" %>
      <div class="mt-2">
        <span class="page-section__text--small">
          <%= link_to "利用規約", home_terms_path %>と<%= link_to "プライバシーポリシー", home_privacy_path %>に同意の上ご利用ください。
        </span>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? && @user.id == current_user.id %>
    <p class="text-center mb-3">
      こっそり自分の通信簿もつけられます...！
    </p>
    <section class="mb-4">
      <%= render partial: "books/review_form", locals: { user: @user, book: @book, review: @review } %>
    </section>
  <% end %>
</section>

<section class="page-section mb-4">
  <p class="page-section__title sp-full-width mb-4">
    友達の通信簿
  </p>
  <div class="row mb-3">
    <div class="col-12">
      <% if user_signed_in? %>
        <%= render partial: "books/index_contents", locals: { books: @following_books } %>
        <div class="text-center mt-3">
          <%= link_to "友達の通信簿を覗く", reviewed_books_path, class: "btn btn-secondary btn-round" %>
        </div>
      <% else %>
        <%= image_tag "book_sample.png", width: "100%", class: "col-md-6 offset-md-3"%>
        <div class="text-center mt-4">
          <h3 class="page-section__subtitle">
            ログインして、フォロー中の友達の通信簿を覗きましょう！
          </h3>
          <%= link_to "Twitterログイン", omniauth_authorize_path(:user, :twitter), class: "btn btn-twitter btn-round shadow-sm mt-3" %>
          <div class="mt-2">
            <span class="page-section__text--small">
              <%= link_to "利用規約", home_terms_path %>と<%= link_to "プライバシーポリシー", home_privacy_path %>に同意の上ご利用ください。
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
