<h2>
  <%= image_tag @user.image, class: "top-navbar__avatar mr-2" %>
  <%= @user.name %>
</h2>
<div class="text-right">
  <%= link_to twitter_url(@user), class: "btn btn-just-icon btn-border btn-twitter", target: "_blank" do %>
    <i class="fab fa-twitter" aria-hidden="true"></i>
  <% end %>
</div>
<h3>
  <%= @user.name %>へのコメント
</h3>
<table class="table">
  <thead>
  <tr>
    <td>
      コメント
    </td>
    <td>
      コメントした人
    </td>
    <td>
      status
    </td>
    <td>
      作成日時
    </td>
  </tr>
  </thead>
  <tbody>
  <% @reviews.each do |review| %>
    <tr>
      <td>
        <i class="<%= review_type_symbol(review) %>"></i><%= review.content %><br>
      </td>
      <td>
        <% if review.user %>
          <%= image_tag review.user.image, class: "admin-user-table__avatar mr-2" %>
          <%= review.user.name %>
        <% end %>
      </td>
      <td>
        <i class="fas <%= review_status_favicon(review) %>"></i>
      </td>
      <td>
        <%= review.created_at.strftime("%Y-%m-%d %H:%M") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>
  <%= @user.name %>の他の人へのコメント
</h3>
<table class="table">
  <thead>
  <tr>
    <td>
      コメント
    </td>
    <td>
      コメントした相手
    </td>
    <td>
      status
    </td>
    <td>
      作成日時
    </td>
  </tr>
  </thead>
  <tbody>
  <% @reviews_to_others.each do |review| %>
    <tr>
      <td>
        <i class="<%= review_type_symbol(review) %>"></i><%= review.content %><br>
      </td>
      <td>
        <%= image_tag review.book.user.image, class: "admin-user-table__avatar mr-2" %>
        <%= review.book.user.name %>
      </td>
      <td>
        <i class="fas <%= review_status_favicon(review) %>"></i>
      </td>
      <td>
        <%= review.created_at.strftime("%Y-%m-%d %H:%M") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
